<div class="container">
  <div class="col-md-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="jumbo-title">Eat-Da-Burger!</h1>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="/assets/burgerPic.jpg" alt="burger-pic">
          <div class="card-body">
            <h4 class="card-title">Available Burgers</h4>
            <ul>
              {{#each burgers}}
              {{#unless devoured}}
              <li>
                {{burger_name}}
                <button class="btn eat-btn btn-default btn-sm changeDevoured" id="{{id}}">Devour It!</button>
              </li>
              {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="/assets/devoured.jpg" alt="devoured-burger">
          <div class="card-body">
            <h4 class="card-title">Devoured Burgers</h4>
            <ul>
              {{#each burgers}}
              {{#if devoured}}
              <li>
                {{burger_name}}
              </li>
              {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add a new type of burger:</h4>
            <form>
              <div class="form-group">
                <input class="form-control" id="newBurgerName" type="text" placeholder="Enter burger here">
                <br>
                <button type="button" class="btn btn-info" id="submitBtn">Submit</button>
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>