  
.jumbotron {
  font-family: 'Jester';
  color: lightsalmon;
  text-align: center;
  background: transparent;
}

.jumbo-title{
  font-size: 10rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body { 
  background-color: beige;
}

.card-body {
  background-color: lightsalmon;
}

.card-title {
  text-align: center;
}